
@media (max-width: 1200px) {

	/*Wrapper*/
	.wrapper 
	{ height: 5500px; overflow: hidden; display: grid; 
	grid-template-areas: "main" "section" "footer"; 
	grid-template-rows: 5% 88% 7%; }

	/* Botões de redes sociais */

	#whatsapp 
	{ top: 400px; }
	#instagram
	{ top: 450px; }

	/* Fim botões de redes sociais */

	/* Conteúdo */ 

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }


	/* Navegação */

	.navegacao
	{ height: 60px; }

	 .checkbtn { display: block; margin-right: 20px; }

	label.logo { line-height: 0; }

    ul { position: fixed; width: 100%; height: 100vh; background: #2c3e50;
        left: -100%; transition: all .5s; text-align: center; }

    nav ul li { display: block; margin: 50px 0; line-height: 30px; }     

    nav ul li a { font-size: 20px; color: white; font-weight: bold; }

    a:hover, a.active { background: none; color: #0082e6; }

    #check:checked ~ ul { left: 0%; }

	/* Fim da navegação */



	/* Seção conteúdo */

	.conteudo
	{ width: 100%; }

	/* Fim da seção conteúdo */



	/* Seção missão */

	.secao-missao
	{ width: 100%; }

	.missao-descricao-textos
	{ width: 500px; height: 300px; top: 170px; left: 140px; }

	.missao-texto
	{ font-size: 20px; }

	.missao-img
	{ width: 300px; left: 160px; }

	.missao-img img
	{ width: 100%; }

	/* Fim da seção missão */



	/* Mensagem */

	.mensagem-texto_02 
	{ font-size: 1.3em; left: 200px; }

	.mensagem-texto 
	{ font-size: 1.3em; left: 65px; }

	.mensagem-autor
	{ font-size: 0.8em; left: 500px; }

	.mensagem-autor_02 
	{ font-size: 0.8em; }

	/* Fim da seção mensagem */



	/* Seção motivação */

	.sobre-motivacao-card 
	{ height: 230px; width: 230px; }

	.card-titulo 
	{ font-size: 3em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 0.9em; }

	/* Fim da seção motivação */



	/* Portfolio */

	.portfolio h1
	{ left: 450px; }

	.portfolio_card_1_ld,
	.portfolio_card_2_ld,
	.portfolio_card_3_ld 
	{ width: 300px; height: 300px; }

	.portfolio_card_2_ld
	{ bottom: 100px; left: 150px; }

	.portfolio_card_3_ld
	{ bottom: 400px; left: 530px; }

	/* Fim do portfolio */

}

@media (min-width: 1001px) and (max-width: 1100px) { 

	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 160px; height: 400px; left: 320px; }

	.missao-descricao
	{ top: 220px; height: 300px; left: 300px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 90%; height: 60%; }	

	.mensagem p
	{  width: 75%; left: 60px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 400px; }

	.mensagem_02 p
	{ width: 70%; left: 100px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 25px; }

	.mensagem_02 span
	{ left: 320px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ right: -5em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 18em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 0em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 18em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 35.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 1.8em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 12em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 17em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 200px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 190px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 190px; }

	.card_consult
	{ position: relative; top: 35em; left: 170px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -50px; background: #222; font-size: 1.5em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -680px; height: 100px; width: 200px; top: 150px; }

}

@media (min-width: 901px) and (max-width: 1000px) { 

	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 160px; height: 400px; left: 320px; }

	.missao-descricao
	{ top: 220px; height: 300px; left: 300px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 90%; height: 60%; }	

	.mensagem p
	{  width: 75%; left: 60px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 400px; }

	.mensagem_02 p
	{ width: 70%; left: 100px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 25px; }

	.mensagem_02 span
	{ left: 320px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ right: -5em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 18em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 0em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 18em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 35.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 1.8em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 12em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 17em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 200px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 190px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 190px; }

	.card_consult
	{ position: relative; top: 35em; left: 170px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -50px; background: #222; font-size: 1.5em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -680px; height: 100px; width: 200px; top: 150px; }

}

@media (min-width: 801px) and (max-width: 900px) {

	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 160px; height: 400px; left: 320px; }

	.missao-descricao
	{ top: 220px; height: 300px; left: 300px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 90%; height: 60%; }	

	.mensagem p
	{  width: 75%; left: 60px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 400px; }

	.mensagem_02 p
	{ width: 70%; left: 100px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 25px; }

	.mensagem_02 span
	{ left: 320px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ right: 6em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 17em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 0.5em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 18em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 35.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 1.4em; }

	.servicos-texto 
	{ position: relative; font-size: 1.5em; 
	width: 32%; left: 12em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 17em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 100px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 280px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 280px; }

	.card_consult
	{ position: relative; top: 35em; left: 260px; }

	/*Rodape*/
	.contato
	{ position: relative; left: 50px; background: #222; font-size: 1.5em; top: 30px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -580px; height: 100px; width: 200px; top: 200px; }

}

/*------------------------------------------ 701px a 800px ------------------------------------*/



@media (min-width: 701px) and (max-width: 800px) {

	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 400px; left: 250px; }

	.missao-descricao
	{ top: 230px; height: 300px; left: 210px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 85%; height: 60%; }	

	.mensagem p
	{  width: 75%; left: 10px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 340px; }

	.mensagem_02 p
	{ width: 70%; left: 50px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 25px; }

	.mensagem_02 span
	{ left: 320px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: -8em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 14em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 3.5em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 21em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 38.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 2.5em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 9em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 12em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 200px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 190px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 190px; }

	.card_consult
	{ position: relative; top: 35em; left: 170px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -50px; background: #222; font-size: 1.5em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -680px; height: 100px; width: 200px; top: 150px; }

}

/* ----------------------------------------------- 600 px ---------------------------------------*/

@media (min-width: 601px) and (max-width: 700px) {


	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 400px; }

	.missao-descricao
	{ top: 230px; height: 300px; left: 130px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 70%; height: 60%; }	

	.mensagem p
	{  width: 75%; left: 10px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 290px; }

	.mensagem_02 p
	{ width: 70%; left: 50px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 25px; }

	.mensagem_02 span
	{ left: 320px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: -8em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 12em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 5.5em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 23em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 40.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 3em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 6em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 11em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 220px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 190px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 190px; }

	.card_consult
	{ position: relative; top: 35em; left: 170px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -70px; background: #222; font-size: 1.5em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -700px; height: 100px; width: 200px; top: 150px; }

}

@media (min-width: 501px) and (max-width: 600px) {

	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 400px; width: 200px; left: 250px; }

	.missao-descricao
	{ top: 240px; height: 290px; left: 230px; width: 200px; }

	.missao-titulo
	{ left: 20px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px; font-size: 1em;
	left: 20px;  }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ height: 60%; }

	.mensagem
	{ width: 60%; }	

	.mensagem_02
	{ width: 50%; }

	.mensagem p
	{  width: 75%; left: 10px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 250px; }

	.mensagem_02 p
	{ left: 20px; width: 90%; }

	.mensagem_02 p, .mensagem p
	{ font-size: 20px; }

	.mensagem_02 span
	{ left: 280px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: -12em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 8em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 9.5em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 27em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 44.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 3.5em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 5.5em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 7em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 250px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 130px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 130px; }

	.card_consult
	{ position: relative; top: 35em; right: 400px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -130px; background: #222; font-size: 1.5em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -760px; height: 100px; width: 200px; top: 150px; }


}

/* ----------------------------------------------- 500px ---------------------------------------*/

@media (min-width: 401px) and (max-width: 500px) {


	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 350px; width: 200px; left: 180px; }

	.missao-descricao
	{ top: 230px; height: 250px; left: 160px; width: 230px; }

	.missao-titulo
	{ left: 30px; top: 20px; }

	.missao-texto
	{ width: 80%; text-align: left; top: 20px; font-size: 0.9em;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ height: 60%; }

	.mensagem
	{ width: 50%; }	

	.mensagem_02
	{ width: 45%; }

	.mensagem p
	{  width: 75%; left: 10px; text-align: center; top: 10px; }

	.mensagem span
	{ left: 180px; }

	.mensagem_02 p
	{ left: 20px; width: 80%; }

	.mensagem_02 p, .mensagem p
	{ font-size: 20px; }

	.mensagem_02 span
	{ left: 200px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 15px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: -17em; width: 100%; font-size: 25px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 4.5em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 13em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 30.5em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 48em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 17%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_05.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 4.5em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 2em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 3em; top: 3.5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 340px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 50px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 50px; }

	.card_consult
	{ position: relative; top: 35em; right: 480px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -200px; background: #222; font-size: 1.2em; top: 0px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -830px; height: 100px; width: 200px; top: 150px; }

/* ----------------------------------------------- 400 px ---------------------------------------*/

}

@media (max-width: 400px) {


	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/

	label.checkbtn
	{ position: relative; bottom: 10px; }

	label.logo
	{ position: relative; bottom: 85px; }

	.logo-navegacao
	{ position: relative; left: -50px; }


	
	#whatsapp, #instagram, #back-to-top
	{ right: 30px; }
	#whatsapp 
	{ top: 400px; }
	#instagram
	{ top: 450px; }

	/*Fim navegação*/

	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 350px; width: 150px; left: 160px; }

	.missao-descricao
	{ top: 230px; height: 250px; left: 140px; width: 160px; }

	.missao-titulo
	{ left: 5px; top: 20px; font-size: 23px; }

	.missao-texto
	{ width: 85%; text-align: left; top: 20px; font-size: 0.8em;
	left: 15px; text-align: center; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ height: 60%; }

	.mensagem
	{ width: 50%; }	

	.mensagem_02
	{ width: 45%; }

	.mensagem p
	{  width: 53%; left: 10px; text-align: center; top: 10px; }

	.mensagem_02 p
	{ left: 10px; width: 65%; top: 10px; }

	.mensagem_02 p, .mensagem p
	{ font-size: 15px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; font-size: 10px; left: 130px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; }

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 1em; }

	.sobre-motivacao 
	{ height: 58.5%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: 1em; width: 23%; font-size: 20px; text-transform: uppercase; top: -100px; }

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 0em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 17.5em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 35em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 52.5em; }



	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 12.5%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_03.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 8.3em; font-size: 50px; }

	.servicos-texto 
	{ position: relative; font-size: 1em; 
	width: 32%; left: -1em; top: 150px; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 19%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 1em; top: 3.5em; width: 25%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 390px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ width: 25%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 15px; }

	.portfolio_card_2_ld
	{ top: 5em; left: 15px; }

	.card_consult
	{ position: relative; top: 35em; right: 515px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -280px; background: #222; font-size: 1em; top: 10px; }

	.copyright
	{ position: relative; right: 780px; top: 300px; }

	.rodape_img
	{ position: relative; left: -910px; height: 80px; width: 200px; top: 150px; }

}