

/*General Styles ----------------------------------------------------------------------------------------------*/

body 
{ padding: 0; margin: 0; overflow-x: hidden; text-decoration: none; }

.wrapper 
{ height: 5000px; min-height: 100vh; overflow: hidden;
	display: grid; grid-template-areas: "nav" "main" "section" "footer"; 
	grid-template-rows: 2% 15% 75% 8%; box-sizing: border-box; }

		.titulo-principal 
		{ font-family: 'Arial', sans-serif; color: #000; 
		text-align: center; font-size: 2.5em; font-weight: 800; 
		position: relative; top: 50px; }

		.navegacao
		{ grid-area: nav; }

		.destaque 
		{ grid-area: main; }

		.conteudo 
		{ grid-area: section; }

		.rodape
		{ grid-area: footer; }

/*-------- Conteudo ---------------------------------*/
		.secao-mensagem 
		{ height: 5%; }

		.secao-missao 
		{ height: 22%; }

		.secao-sobre 
		{ height: 48%; }

		.portfolio 
		{ height: 30%; }


/*End of general styles --------------------------------------------------------------------------------------*/

/*Navegacao -----------------------------------------------------------------------------------*/
.navegacao 
{ background: #fff; height: 80px; width: 100%; position: fixed; z-index: 9999; }

			#check
			{ display: none; }

			nav { background: #0082e6; height: 80px; width: 100%; }

			label.logo{ color: white; font-size: 34px; line-height: 80px; 
			        padding: 0 100px; font-weight: bold; }

			nav ul { float: right; margin-right: 20px; }

			nav ul li { display: inline-block; line-height: 80px; margin: 0 5px; }

			nav ul li a:hover { text-decoration: none; color: white; }

			nav ul li a { color: #222; font-size: 17px; padding: 7px 13px; 
			        border-radius: 3px; text-transform: uppercase; }

			 nav ul li:target
			 { display: block; position: relative; top: -150px; visibility: hidden; }

			a.active, a:hover { background: #28527a; transition: .5s; }

			a.active { color: white; cursor: pointer; }

			.checkbtn { font-size: 30px; color: #222; float: right; 
			line-height: 80px; margin-right: 40px; cursor: pointer; display: none; }

			#check { display: none; }

 			#back-to-top 
			{ position: fixed; color: white; height: 50px; background: #888;
			width: 50px; text-align: center; font-size: 30px; border-radius: 3px;
			right: 40px; z-index: 9999; top: 100px; }

			#instagram
			{ background: linear-gradient(45deg, yellow, red, blue); 
			position: fixed; top: 550px; }

			#whatsapp 
			{ position: fixed; top: 500px; background: green; }

			#instagram,
			#whatsapp
			{ color: white; height: 50px; width: 50px; text-align: center; 
			font-size: 30px; border-radius: 3px; right: 40px; z-index: 9999; }

			.redes-sociais 
			{ position: relative; left: 50%; }

			.linkedin 
			{ color: #0779e4;  }

			.instagram 
			{ color: #f2a365; }

			.whatsapp 
			{ color: #21bf73; }			
/*Fim da navegacao ---------------------------------------------------------------------------*/

/*Destaque -------------------------------------------------------------------------------------*/
.destaque 
{ background: linear-gradient(rgba(0,0,0,0.7), 
rgba(0,0,0,0.7)),url('../img/negocios_00.jpg')no-repeat center/cover; 
height: 650px; }
/*Fim destaque --------------------------------------------------------------------------------*/

/*Servicos ----------------------------------------------------------------------------------*/
.secao-missao 
{ display: flex; }

		.missao-descricao 
		{ width: 650px; height: 450px; position: relative; left: 180px;
		top: 170px; background: #fff; box-shadow: 10px 10px 10px rgba(0,0,0,0.2); 
		border-radius: 5px; font-family: 'Open-sans', sans-serif; }

		.missao-titulo 
		{ position: relative; margin-left: 1.5em; top: 50px; font-size: 2em; 
		font-weight: bold; }

		.missao-texto 
		{ width: 90%; left: 10%; position: relative; left: 50px; top: 100px;
		color: rgba(0,0,0,0.5); font-size: 27px; }

		.missao-img 
		{ position: relative; left: 15%; top: 100px; height: 600px; }

		.missao-img img 
		{ border-radius: 5px; height: 100%; width: 100%; }
		
/*Fim dee servicos --------------------------------------------------------------------------*/
	
/*Mensagem ------------------------------------------------------------------------------------*/
.mensagem 
{ height: 100%; background: linear-gradient(rgba(0,0,0,0.5), 
rgba(0,0,0,0.5)),url('../img/Red_msg_03.jpg')no-repeat center/cover; }

	.mensagem-texto, 
	.mensagem-autor, 
	.mensagem-texto_02, 
	.mensagem-autor_02 
	{ font-family: 'Montserrat', sans-serif; color: #fff; position: relative; 
	left: 100px; font-weight: 700; }

	.mensagem_02 
	{ height: 100%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/portfolio_00.jpg')no-repeat center/cover; }

	.mensagem-texto_02 
	{ font-size: 1.5em; position: relative; left: 250px; top: 50px;  }

	.mensagem-texto 
	{ font-size: 1.5em; position: relative; left: 100px; top: 50px; }

	.mensagem-autor
	{ font-size: 1em; position: relative; left: 45%; top: 100px; }

	.mensagem-autor_02 
	{ font-size: 1em; position: relative; left: 45%; top: 100px; }
/*Fim Mensagem -------------------------------------------------------------------------------*/

/*Sobre ------------------------------------------------------------------------------------*/
.sobre-motivacao 
{ height: 26.3%; display: flex; justify-content: space-around; margin-left: 2em; }

	.sobre-motivacao-card 
	{ height: 250px; width: 250px; margin-right: 2em; position: relative; 
	top: 150px; box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09); 
	text-align: center; border-radius: 5px; }

	.sobre-servicos 
	{ height: 33.3%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/servicos_01.jpg')no-repeat center/cover; 
	font-family: 'Lobster', cursive; color: #fff; text-align: center; }

	.card-texto 
	{ margin-top: 1.5em; width: 90%; position: relative; left: 15px; 
	color: rgba(0,0,0,0.5);}

	.card-titulo 
	{ font-size: 4em; font-weight: bold; color: tomato; }

	.servicos-titulo 
	{ font-size: 5em; position: relative; top: 100px; }

	.servicos-texto 
	{ font-size: 2.5em; position: relative; top: 200px; }

/*Fim sobre --------------------------------------------------------------------------------*/

/*Servicos --------------------------------------------------------------------------------*/
.secao-produtos 
{ height: 40.3%; color: #383e56; }

	.secao-produtos h3 
	{ font-weight: 800; color: tomato; text-transform: uppercase; 
	font-family: 'Montserrat', sans-serif; }

	.card_1_ld 
	{ display: flex; width: 40%; height: 180px; position: relative; left: 10%; 
	top: 30px; border: 3px solid rgba(0,0,0,0.1); border-radius: 10px; }

	.card_2_ld 
	{ display: flex; width: 40%; height: 180px; position: relative; left: 30%; top: 50px; 
	border: 3px solid rgba(0,0,0,0.1); border-radius: 10px; }	

	.card_3_ld 
	{ display: flex; width: 40%; height: 180px; position: relative; left: 50%; top: 70px; 
	border: 3px solid rgba(0,0,0,0.1); border-radius: 10px; }	

	.landing_page_img 
	{ width: 50%; height: 100%; background: linear-gradient(rgba(0,0,0,0.1), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_04.jpg')no-repeat center/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.ecommerce_img 
	{ width: 50%; height: 100%; background: linear-gradient(rgba(0,0,0,0.1), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_06.jpg')no-repeat center/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.blog_img 
	{ width: 50%; height: 100%; background: linear-gradient(rgba(0,0,0,0.1), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_08.jpg')no-repeat center/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.landing_page_texto, 
	.ecommerce_texto, 
	.blog_texto 
	{ width: 50%; height: 100%; 
	text-align: center; margin-top: 1em; }
/* FIm serviços ---------------------------------------------------------------------------*/

/*Planos ---------------------------------------------------------------------------------*/
.portfolio 
{ display: flex; }

	.portfolio_img_01 
	{ width: 50%; height: 100%; background: url('../img/atelier.png')no-repeat top/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.portfolio_img_02 
	{ width: 50%; height: 100%; background: url('../img/alma.png')no-repeat top/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.portfolio_img_03 
	{ width: 50%; height: 100%; background: url('../img/consult.png')no-repeat top/cover; 
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

	.portfolio img 
	{ z-index: 1; height: 400px; border-radius: 5px; position: relative; 
	right: 100px; top: 150px; }

	.portfolio_card_1_ld 
	{ display: flex; width: 400px; height: 400px; position: relative; 
	right: 230px; top: 200px; border: 1px solid rgba(0,0,0,0.09); 
	border: 1px solid rgba(0,0,0,0.09); border-radius: 10px; 
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09);
				 }
	.portfolio_card_2_ld 
	{ display: flex; width: 400px; height: 400px; position: relative; 
	left: 235px; bottom: 200px; border: 1px solid rgba(0,0,0,0.09); 
	border: 1px solid rgba(0,0,0,0.09); border-radius: 10px; 
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09); 
				 }	
	.portfolio_card_3_ld 
	{ display: flex; width: 400px; height: 400px; position: relative; 
	bottom: 600px; left: 700px; border: 1px solid rgba(0,0,0,0.09); 
	border: 1px solid rgba(0,0,0,0.09); border-radius: 10px; 
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.09); }

	.portfolio_texto_01, 
	.portfolio_texto_02, 
	.portfolio_texto_03 
	{ width: 50%; height: 100%; text-align: center; margin-top: 1em;
	text-decoration: none; color: #000; }

	.portfolio a:hover
	{ text-decoration: none; }

	.portfolio h1 
	{ position: relative; left: 570px; top: 70px; 
	font-family: 'Montserrat', sans-serif; font-weight: 800; }

	.portfolio h3
	{ font-family: 'Montserrat', sans-serif; font-weight: bold; }

	.portfolio p 
	{ position: relative; top: 100px; font-size: 18px; }
/* Fim planos ----------------------------------------------------------------------------*/

/*Rodape -------------------------------------------------------------------------------------*/
footer 
{ font-family: 'Montserrat', sans-serif; }

	.social_media 
	{ display: flex; position: relative; left: 5em; top: 2em; }

	.contato 
	{ list-style: none; position: relative; top: 2em; }

	.rodape 
	{ height: 100%; background: #222; display: flex; color: #fff; }

	.rodape_img 
	{ height: 200px; width: 200px; position: relative; top: 50px; left: 30px;
	border-radius: 3px; margin-right: 1em;}

	.copyright 
	{ position: relative; top: 200px; right: 200px; }

	.titulo-contato 
	{ font-size: 1.5em; margin-bottom: 1em; }

	.social_media li 
	{ margin-right: 1em; list-style: none; }

	.instagram 
	{ color: #ffb26b; }

	.whatsapp 
	{ color: #61b15a; }
/*Fim rodape --------------------------------------------------------------------------------*/

/*Breakpoints ------------------------------------------------------------------------------------------------*/

@media (max-width: 1100px) {

	/* Botões de redes sociais */

	#whatsapp 
	{ top: 400px; }
	#instagram
	{ top: 450px; }

	/* Fim botões de redes sociais */

	/* Conteúdo */ 

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }


	/* Navegação */

	.navegacao
	{ height: 60px; }

	 .checkbtn { display: block; margin-right: 20px; }

	label.logo { line-height: 0; }

    ul { position: fixed; width: 100%; height: 100vh; background: #2c3e50;
        left: -100%; transition: all .5s; text-align: center; }

    nav ul li { display: block; margin: 50px 0; line-height: 30px; }     

    nav ul li a { font-size: 20px; color: white; font-weight: bold; }

    a:hover, a.active { background: none; color: #0082e6; }

    #check:checked ~ ul { left: 0%; }

	/* Fim da navegação */



	/* Seção conteúdo */

	.conteudo
	{ width: 100%; }

	/* Fim da seção conteúdo */



	/* Seção missão */

	.secao-missao
	{ width: 100%; }

	.missao-descricao-textos
	{ width: 500px; height: 300px; top: 170px; left: 140px; }

	.missao-texto
	{ font-size: 20px; }

	.missao-img
	{ width: 300px; left: 160px; }

	.missao-img img
	{ width: 100%; }

	/* Fim da seção missão */



	/* Mensagem */

	.mensagem-texto_02 
	{ font-size: 1.3em; left: 200px; }

	.mensagem-texto 
	{ font-size: 1.3em; left: 65px; }

	.mensagem-autor
	{ font-size: 0.8em; left: 500px; }

	.mensagem-autor_02 
	{ font-size: 0.8em; }

	/* Fim da seção mensagem */



	/* Seção motivação */

	.sobre-motivacao-card 
	{ height: 230px; width: 230px; }

	.card-titulo 
	{ font-size: 3em; font-weight: bold; color: tomato; }

	.card-texto
	{ font-size: 0.9em; }

	/* Fim da seção motivação */



	/* Portfolio */

	.portfolio h1
	{ left: 450px; }

	.portfolio_card_1_ld,
	.portfolio_card_2_ld,
	.portfolio_card_3_ld 
	{ width: 300px; height: 300px; }

	.portfolio_card_2_ld
	{ bottom: 100px; left: 150px; }

	.portfolio_card_3_ld
	{ bottom: 400px; left: 530px; }

	/* Fim do portfolio */
}

@media (max-width: 600px) {


	/*Wrapper*/
	.wrapper 
	{ height: 5500px; overflow: hidden; display: grid; 
	grid-template-areas: "main" "section" "footer"; 
	grid-template-rows: 5% 88% 7%; }

	/* Destaque */

	/* Fim de destaque */

	/* Conteúdo */
	.conteudo 
	{ grid-area: section; }

	.secao-missao 
	{ height: 12.5%; }
			
	.secao-mensagem 
	{ height: 7%; }

	.secao-sobre 
	{ height: 48.5%; }

	.portfolio 
	{ height: 32%; }

		/* Navegacao */

	.checkbtn 
	{ line-height: 60px; }

	/* Logo */
	.logo 
	{ position: relative; right: 2.5em; }

	.texto-navegacao 
	{ font-size: 1.5em; }
	/* Fim logo */



	/*Destaque*/
	.destaque 
	{ background: linear-gradient(rgba(0,0,0,0.7), 
	rgba(0,0,0,0.7)),url('../img/Red_negocios_00.jpg')no-repeat; 
	height: 383px; }
	/*Fim da área de destaque*/



	/*Conteudo*/
		/*Missão*/

	.secao-missao
	{ position: relative; right: 150px; }

	.missao-img
	{ top: 180px; height: 400px; }

	.missao-descricao
	{ top: 230px; height: 300px; left: 130px; width: 300px; }

	.missao-titulo
	{ left: 50px; top: 20px; }

	.missao-texto
	{ width: 90%; text-align: left; top: 20px;
	left: 20px; }

	/*Mensagem*/
	
	.mensagem, 
	.mensagem_02 
	{ width: 60%; height: 60%; }	

	.mensagem p
	{ font-size: 15px; width: 50%; left: 10px; text-align: center; }

	.mensagem span
	{ left: 130px; font-size: 10px; }

	.mensagem_02 p
	{ font-size: 22px; width: 80%; left: 50px; }

	.mensagem_02 span
	{ left: 280px; }

	.mensagem_02 span, .mensagem span
	{ top: 50px; }


	/*Sobre*/
	/*Sobre motivação*/

	.sobre-motivacao 
	{ height: 54%; position: relative; bottom: 100px; }

	.titulo-principal 
	{ left: 1.5em; width: 25%; font-size: 20px; text-transform: uppercase; top: -100px; }


	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 14.5%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_02.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 3em; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; 
	width: 32%; left: 6em; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 21.5%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ position: relative; left: 8.5em; top: 5em; width: 30%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.8em; }

	/*Portfolio*/
	.portfolio 
	{ display: block; }

	.portfolio-titulo-principal
	{ position: relative; right: 270px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 30%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 150px; }

	.portfolio_card_2_ld
	{ top: 5em; }

	.card_consult
	{ position: relative; top: 35em; right: 376px; }

	/*Rodape*/
	.contato
	{ position: relative; left: -90px; background: #222; }

	.copyright
	{ position: relative; right: 720px; top: 300px; }

	.rodape_img
	{ position: relative; left: -670px; height: 100px; width: 200px; top: 150px; }

}

@media (max-width: 400px) {

	label.logo { bottom: 70px; }

	ul { position: fixed; width: 100%; height: 100vh; top: 60px; }

	/* Missão */

	#missao .missao-descricao
	{ width: 160px; height: 200px; top: 250px; 
	left: 150px; box-sizing: border-box; }

	.missao-descricao h2
	{ position: relative; font-size: 1.3em; 
	width: 100%; margin-left: 0px; top: 10px; }

	.missao-descricao label
	{ position: relative; font-size: 0.8em; line-height: 1.2em; width: 80%;
	left: 20px; top: 20px; }

	.missao-img
	{ width: 150px; height: 300px; left: 160px; top: 200px; }

	/* Mensagem */

	.secao-mensagem p
	{ font-size: 16px; width: 45%;  }

	.mensagem_02 p
	{ width: 40%; left: 50px; }

	.mensagem_02 span
	{ left: 150px; }


	/*---- seção sobre -----------------------------*/

	.sobre-motivacao-card:nth-child(1) 
	{ position: relative; top: 50px; left: 1em; }

	.sobre-motivacao-card:nth-child(2) 
	{ position: relative; top: 25em; right: 15em; }

	.sobre-motivacao-card:nth-child(3) 
	{ position: relative; top: 47em; right: 31.5em; }

	.sobre-motivacao-card:nth-child(4) 
	{ position: relative; top: 69em; right: 48em; }

	/*Sobre serviços*/
	.sobre-servicos 
	{ height: 11%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/Red_servicos_02.jpg')no-repeat; }

	.servicos-titulo 
	{ position: relative; right: 4.5em; top: 50px; }

	.servicos-texto 
	{ position: relative; font-size: 1.3em; width: 32%; left: 0em;
	top: 100px; }

	/*Seção produtos*/
	.secao-produtos 
	{ height: 25%; }

	.card_1_ld, 
	.card_2_ld, 
	.card_3_ld 
	{ left: 2em; top: 5em; width: 25%; }

	.landing_page_texto p,
	.ecommerce_texto p,
	.blog_texto p 
	{ font-size: 0.7em; }

	/*Portfolio*/

	.portfolio-titulo-principal
	{ right: 400px; bottom: 150px; }

	.portfolio_card_1_ld, 
	.portfolio_card_2_ld, 
	.portfolio_card_3_ld
	{ left: 1em; width: 28%; }

	.portfolio_card_1_ld
	{ top: 0em; left: 15px; }

	.portfolio_card_2_ld
	{ top: 5em; }

	.card_consult
	{ position: relative; top: 35em; right: 0px; }

	/*Rodape*/
	.contato
	{left: -220px; top: 10px; }

	.copyright
	{ position: relative; right: 720px; top: 300px; }

	.rodape_img
	{ position: relative; left: -805px; height: 100px; width: 200px; top: 120px; }

}